option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/v1/health-check
  aws:autoscaling:launchconfiguration:
    SecurityGroups: default
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:sa-east-1:724288176253:certificate/95686247-33a0-4dad-9a39-0a674010fcb4